footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.background-footer {
    background-color: var(--primary-color);
}

.color-text-footer {
    color: var(--text-footer-color);
}

.height-footer {
    height: 10rem;
}

.link-footer {
    text-decoration: none;
    color: var(--text-footer-color);
}

.link-footer:hover {
    color: var(--text-footer-color);
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width: 768px) {
    .height-footer {
        height: 25rem;
    }
}
